* {
    font-family: Tahoma;
}
body {
    background-color: lightblue;
    color: darkblue;
}
h1.subject {
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
}
table.products {
    border-collapse: collapse;
}